.mapa_endereco_e_telefone_mapa_contato_page {
  position: relative;
  height: 1040px;
  width: 100%;
  margin-top: 100px;
}

.limite_mapa_contato_page {
  z-index: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1125px;
  height: 580px;
  position: relative;
}

.mapa_contato_page {
  display: flex;
  width: 1125px;
  height: 580px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  box-shadow: 0px 4px 27.9px 3px rgba(0, 0, 0, 0.25);
}

.quina_colorida_mapa_contato_page {
  top: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-color: #f2911b;
  border-top-style: solid;
  border-left-color: #f2911b;
  border-left-style: solid;
}

.endereco_e_telefone_contato_page {
  display: flex;
  width: 1130px;
  height: 165px;
  z-index: 1;
  margin: 40px auto;
  gap: 35px;
  align-items: center;
  justify-content: center;

  & h4 {
    color: #1486c9;

    /* H3-Title */
    font-size: var(--font-size-H4, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & p {
    color: var(--cards-texto-prim, #191946);

    /* H4-Subtitle */
    font-size: var(--font-size-H5, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.endereco_contato_page {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 545px;
  height: 165px;
  padding: 32px var(--spacing-sistem-spacing-xl, 24px);
  align-items: flex-start;
  border-radius: 20px;
  background: #fff;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  gap: 20px;
}

.telefone_contato_page {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 545px;
  height: 165px;
  padding: 32px var(--spacing-sistem-spacing-xl, 24px);
  align-items: flex-start;
  border-radius: 20px;
  background: #fff;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  gap: 20px;
}

.fundo_cinza_mapa_contato_page {
  background-color: #eaeaf1;
  bottom: 0;
  position: absolute;
  display: flex;
  z-index: 0;
  height: 750px;
  width: 100%;
}
