/* Texto e imagens iniciais */
.main_vamos_la {
  margin-top: 60px;
  height: 360px;
  width: 1180px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.imagem_vamos_la {
  width: 500px;
  height: 358px;
  border-radius: 25px;
  box-shadow: 0px 4px 30px 0px rgba(132, 132, 132, 0.54);
}

.titulo_vamos_la {
  align-content: end;
  width: 580px;
  height: 160px;
  font-size: 48px;
  color: #293872;
}

.texto_vamos_la {
  margin-top: 10px;
  height: 82px;
  width: 580px;
  font-size: large;
  color: #293872;
}

.button_vamos_la {
  width: 215px;
  height: 40px;
  display: flex;
  border: 2px solid transparent;
  background-color: #1486c9;
  border-radius: 15px;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button_vamos_la:hover {
  background-color: #fff;
  color: #1486c9;
  border: 1px solid #1486c9;
}
