.background_tipos_de_servicos_cards_quem_somos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  border-radius: 20px;
  background: #d9d9d9;
  width: 1180px;
  height: 730px;
  align-items: center;
  justify-content: center;
}

.limit_cards_tipos_de_servicos_cards_quem_somos {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 1116px;
  height: 666px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cards_tipos_de_servicos_cards_quem_somos {
  display: flex;
  width: 540px;
  height: 320px;
  align-items: center;
  border-radius: var(--espaamento-5, 20px);
  background: var(--cor-base-branco, #fff);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.quina_colorida_cards_tipos_de_servicos_cards_quem_somos {
  top: 0;
  width: 75px;
  height: 75px;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-color: #f2911b;
  border-top-style: solid;
  border-left-color: #f2911b;
  border-left-style: solid;
}

.imagem_cards_tipos_de_servicos_cards_quem_somos {
  margin: auto;
  width: 180px;
  height: 250px;
  border-radius: var(--espaamento-4, 16px);
}

.texto_e_botoes_cards_tipos_de_servicos_cards_quem_somos {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  height: 255px;
  margin: auto;
  gap: 20px;
}

.titulo_texto_e_botoes_cards_tipos_de_servicos_cards_quem_somos {
  align-self: stretch;
  height: 45px;
  color: var(--cards-texto-sec, #2a2a74);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.paragrafo_texto_e_botoes_cards_tipos_de_servicos_cards_quem_somos {
  align-content: center;
  height: 120px;
  width: 100%;
  color: #1d1d3c;
  /* H6-Body-strong */
  font-size: var(--font-size-H7, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.div_botao_texto_e_botoes_cards_tipos_de_servicos_cards_quem_somos {
  display: flex;
  align-items: end;
  width: 100%;
  bottom: 0;
}
