.cards_main_home {
  --largura-card: 317px;
  display: block;
  height: calc(var(--largura-card) / 0.6155339805825243);
  width: var(--largura-card);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 4px 7px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.quina_colorida_cards_main_home {
  width: 75px;
  height: 75px;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-color: #1486c9;
  border-top-style: solid;
  border-left-color: #1486c9;
  border-left-style: solid;
}

.topo_cards_main_home {
  display: flex;
  width: var(--largura-card);
  height: calc(77px + 1.88rem);
}

.fundo_aviao_cards_main_home {
  --diamentro-fundo: 70px;
  display: flex;
  width: var(--diamentro-fundo);
  height: var(--diamentro-fundo);
  margin-top: var(--borda-aviao-icon);
  margin-left: var(--borda-aviao-icon);
  background-color: #eaeaf1;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.por_cem_desconto_cards_main_home {
  display: grid;
  margin-left: 120px;
  width: 102px;
  height: 40px;
  background-color: #40ac3a;
  color: #fff;
  border-radius: 10px;
  margin-top: var(--borda-aviao-icon);
  justify-content: center;
  align-items: center;
}

.destino_cards_main_home {
  width: 100%;
  padding-left: 16px;
}

.partida_destino_cards_main_home {
  color: var(--cards-texto-sec, #2a2a74);

  /* H4-Subtitle */
  font-size: var(--font-size-H5, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chegada_cards_main_home {
  color: var(--cards-texto-prim, #191946);

  /* H3-Title */
  font-size: var(--font-size-H4, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tracejado_cards_main_home {
  width: 285px;
  border-bottom: 2px dashed #8e98a860;
}

.div_hotel_cards_main_home {
  margin-top: 10px;
  height: 228px;
  width: var(--largura-card);
  display: block;
  padding-left: 16px;
}

.hotel_cards_main_home {
  color: var(--cards-cards-texto-title, #1486c9);
  height: 29px;

  /* H4-Subtitle */
  font-size: var(--font-size-H5, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.div_hotel_imagem_cards_main_home {
  display: block;
  width: var(--largura-card);
  height: 148px;
  align-content: center;
}

.hotel_imagem_cards_main_home {
  border-radius: 20px;
  height: 110px;
  width: 285px;
  background: lightgray 50% / cover no-repeat;
}

.descricao_diaria_cards_main_home {
  color: var(--cards-texto-sec, #2a2a74);

  /* pf-Body */
  font-size: var(--font-size-pf, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.valor_diaria_cards_main_home {
  display: flex;
}

.preco_final_cards_main_home {
  color: var(--cards-texto-prim, #191946);
  width: 164px;

  /* H3-Title */
  font-size: var(--font-size-H4, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.preco_desconto_cards_main_home {
  width: 86px;
  height: 17px;
  flex-shrink: 0;
  color: var(--cards-cone-sec, #f2911b);
  font-size: var(--font-size-pf, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
  align-self: flex-end;
}

.div_disponibilidade_button_cards_main_home {
  height: 93px;
  width: var(--largura-card);
  align-content: center;
  justify-items: center;
}

.disponibilidade_button_cards_main_home {
  display: flex;
  width: 287px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #1486c9;
  text-decoration: none;
}

.disponibilidade_button_cards_main_home:hover {
  border: 1px solid #1486c9;
  background: #fff;

  & .disponibilidade_button_text_cards_main_home {
    color: #1486c9;
  }
}

.disponibilidade_button_icon_cards_main_home {
  width: 24px;
  height: 24px;
}

.disponibilidade_button_text_cards_main_home {
  color: rgba(255, 255, 255, 0.95);

  /* H5-Body-Large */
  font-size: var(--font-size-H6, 20px);
}
