.botao_converse_com_um_agente {
  display: flex;
  width: 287px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #1486c9;
  text-decoration: none;
}

.icon_botao_converse_com_um_agente {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_botao_converse_com_um_agente {
  font-size: var(--font-size-H6, 18px);
}
