.turismo_internacional_destinos_page {
  width: 1518px;
  height: 640px;
  margin: auto;
}

.limite_turismo_internacional_destinos_page {
  display: flex;
  width: 1350px;
  height: 640px;
  align-items: center;
}

.imagem_turismo_internacional_destinos_page {
  width: 860px;
  height: 615px;
}

.texto_turismo_internacional_destinos_page {
  display: flex;
  width: 485px;
  height: 315px;
  flex-direction: column;
  gap: 35px;

  & h1 {
    color: var(--cards-cone-sec, #f2911b);
    align-self: stretch;
    /* H2-Large Title */
    font-size: var(--font-size-H3, 48px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  & p {
    color: var(--cards-texto-prim, #191946);
    align-self: stretch;
    /* H5-Body-Large */
    font-size: var(--font-size-H6, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
  & a {
    width: 100%;
    text-decoration: none;
    text-align: end;
    color: #191946;
  }
}
