.encontre_perfeitos_destinos_page {
  width: 1160px;
  height: 265px;
  color: var(--cards-texto-prim, #191946);
  align-self: center;
  display: flex;
  position: relative;

  /* H1-Display */
  font-size: var(--font-size-H1, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  & p {
    margin: auto;
    margin-bottom: 0%;
    width: 830px;
  }
}

.destaque_encontre_perfeitos_destinos_page {
  color: #f2911b;

  /* H1-Display */
  font-size: var(--font-size-H1, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aviao_icone_encontre_perfeitos_destinos_page {
  margin-top: 100px;
  width: 182px;
  height: 120px;
}

.icone_flor_azul_encontre_perfeitos_destinos_page {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 200px;
  height: 240px;
}
