.nosso_compromisso_quem_somos {
  margin: 70px auto;
  display: flex;
  width: 1260px;
  gap: 30px;
  height: 165px;
  color: var(--cards-texto-prim, #191946);

  /* H1-Display */
  font-size: var(--font-size-H1, 64px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tamanho_paragrafo_nosso_compromisso_quem_somos {
  left: 0;
  width: 1050px;
}

.compromisso_azul_nosso_compromisso_quem_somos {
  color: var(--cards-cards-texto-title, #1486c9);
}

.sua_viagem_laranja_nosso_compromisso_quem_somos {
  color: var(--cards-cone-sec, #f2911b);
}

.aviao_icone_nosso_compromisso_quem_somos {
  width: 182px;
  height: 120px;
}
